
   

header{
   width: 100%;
   background-color: #ffffff;
   /* border-bottom: 2px solid #cccccc;  */
   position: relative; 
}

.header-con {
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    display: table;
}

.header-con div {
    display: table-cell;
    width: 50%;
   
}
.header-con div.left {
    text-align: left;
    vertical-align: top;
    position: relative;

 }

.header-con div.right {
    text-align: right
}

.header-con div.myname{
    display: inline-block;
    background-color: #4aaaa5;
    height: 100%;
    width: auto;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 30px;
    
}
.rightnav{
    
}

.rightnav ul{
  
}

.rightnav ul li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    word-spacing: 1cm;
    padding-left: 20px;
    padding-right: 1em;
    border-right: 1px solid #777777;
    
}
a{
    color: #777777;
    text-decoration: none;
}

/* a:link{
    color: green;
} */

a:hover, a:focus{
    color: #1C6EA4;

}

.rightnav ul li:last-child{
    border: none;
}

h3{
    color: #4aaaa5;
}
.body{
    padding: 20px;
    width: 100%;
    background-color:#efefef;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.body-con{
    width: 960px; 
    margin: auto;
    padding: 10px;
    background-color: white;
    /* border-right: 20px solid #efefef */
}

.email-con{
    margin: 10px;
    padding: 10px;
}

.email-con input{
    width:80%;
    margin-left: 10%;
}

.email-con input.email-text{
    line-height: 75px;
    text-align: initial;
}

fieldset{

}

img{
    margin-right: 10px;
    padding:1px;
    outline: 1px ridge #1C6EA4;
    outline-offset: 0px;
}

.img-con{
    display: inline;
    text-align: justify;
    
}

.img-con.body-para{
    display: inline;
    padding: 25px;
    
    vertical-align: text-top;
}

.body-con-box{
    width: 960px; 
    margin: auto;
    padding: 5px;
    background-color: white;
    border: aqua solid;
    /* display: flex; */
}

.row1{
    border: blue solid;
    /* clear::fix; */
}
/* p{
    text-align: justify;
} */

footer{
    background-color: black;
    border-top: 5px solid  #4aaaa5;
    width: 100%;
    margin: auto;
    color: #ffffff;
    text-align: center;

}

.row1{
    
}
#navs{
    
    width: 60%;
    margin-top: 0 auto;
    float: right;

}


#content {
    width: 100px;
    position: relative;
    top: 600px;
    background: #ebebeb;
    height: 150px;
}
#contact-info{
    float: right;
}
#mmainbio-info{
    float: right;
}